p {
    color: rgb(1, 23, 37);    
    text-align: center;
    background-color: rgb(199, 236, 243);
}

#skeleton {
    margin: auto;
    width: 60%;
    border: 3px solid #000000;
    padding: 10px;
}

#test {
    margin: auto;
    width: 80%;
    border: 3px solid #ad4221;
    padding: 2%;
}

#test2 {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 25px;
    background-color: rgb(199, 236, 243);
}